.usersContainer {
    display: grid;
    grid-template-areas: 'pb i';
    grid-template-columns: 0.5fr 2fr;
    margin: 10px;
}

.photoAndButton {
    grid-area: pb;
    margin: 0 auto;
}

.photoAndButton button {
    margin: 5% 30%;
}

.usersInfo {
    margin-top: 20px;
    margin-right: 50px;
    height: 50px;
    display: grid;
    grid-template-areas: 'n cn'
                         's c';
    grid-template-rows: 20px 1fr;
    grid-template-columns: 2fr 100px;
    grid-area: i;
    border: solid 1px rgb(161,214,226);
    border-radius: 8px;
}

.name {
    grid-area: n;
    margin-left: 10px;
}

.status {
    grid-area: s;
    margin-left: 10px;
}

.cityName {
    grid-area: cn;
}

.country {
    grid-area: c;
}

.photoUser{
    border-radius: 5px;
    box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.2);
}

.pages {
    margin: 10px;
}

.selectedPage {
    font-weight: bold;
    padding-left: 2px;
    padding-right: 2px;
    font-size: larger;
}

.pageSelector {
    cursor: pointer;
}

.hide {
    display: none;
}