nav {
    grid-area: n;
    background-color: green;
    text-align: center;
}

.item {
    color: white;
    padding-top: 5px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.active {
    font-weight: bolder;
}