.main {
    grid-area: n;
    background-color: rgba(188, 186, 190, 0.25);
    text-align: center;
    border-radius: 10px;
}

.item {
    padding-top: 5px;
}

.item a {
    color: #1995ad;
    text-decoration: none;
}

.item a.active {
    font-weight: bolder;
}

.sidebar {
    margin-top: 50px;
}