.ava {
    margin-left: 5px;
}

.contacts {
    padding: 20px;
}

.contact {
    padding: 20px;
}

.contact img {
    margin-right: 5px;
}

.contact a {
    color: #1995ad;
    text-decoration: none;
}

a.active {
    color: goldenrod;
}
