.backImg {
    width: 992px;
    border-radius: 10px;
}

.avaBio {
    display: flexbox;
    padding: 10px;
}

.ava {
    height: 250px;
    float: left;
    border-radius: 10px;
}

.bio {
    float: left;
    margin-left: 1em;
    color: #1995ad;
}