.app-wrapper {
    margin: 0 auto;
    width: 1200px;
    height: 100vh;
    display: grid;
    grid-template-areas: 
                            "h h" 
                            "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.app-wrapper-content {
    grid-area: c;
    background-color: rgba(188, 186, 190, 0.25);
    border-radius: 10px;
    max-width: 995px;
}

button {
    outline: none;
    background-color: rgba(161,214,226, 0.5);
    border-radius: 5px;
    border-width: 0;
    padding: 5px;
    cursor: pointer;
    box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: rgb(161,214,226);
}

button:active {
    transform: translateY(1px);
}

textarea {
    border-radius: 10px;
    border: solid 1px rgb(25,149,173);
    outline: none;
    padding: 5px;
}